<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <template th:fragment="bookinstance-sub-table" 
              id="bookinstances-table-template" 
              th:data-header-barcode="#{admin.bookinstances.table.header.barcode}"
              th:data-header-callNumber="#{admin.bookinstances.table.header.callNumber}"
              th:data-header-status="#{admin.bookinstances.table.header.status}"
              th:data-header-acquiredDate="#{admin.bookinstances.table.header.acquiredDate}"
              th:data-header-acquiredPrice="#{admin.bookinstances.table.header.acquiredPrice}"
              th:data-header-actions="#{admin.bookinstances.table.header.actions}"
              th:data-tooltip-view="#{admin.bookinstances.tooltip.view}"
              th:data-tooltip-edit="#{admin.bookinstances.tooltip.edit}"
              th:data-tooltip-delete="#{admin.bookinstances.tooltip.delete}"
              th:data-status-available="#{admin.bookinstances.status.available}"
              th:data-status-repairing="#{admin.bookinstances.status.repairing}"
              th:data-status-borrowed="#{admin.bookinstances.status.borrowed}"
              th:data-status-lost="#{admin.bookinstances.status.lost}"
              th:data-status-damaged="#{admin.bookinstances.status.damaged}"
              th:data-status-archived="#{admin.bookinstances.status.archived}"
              th:data-status-reserved="#{admin.bookinstances.status.reserved}"
              th:data-status-unknown="#{admin.bookinstances.status.unknown}"
              th:data-infor-nulldata="#{admin.bookinstances.nulldata}"
              th:data-infor-reload="#{admin.bookinstances.reload}" 
              th:data-deletebox-title="#{admin.bookinstance.delete.box.confirm.title}"
              th:data-deletebox-text="#{admin.bookinstance.delete.box.confirm.text}"
              th:data-deletebox-confirm-button="#{admin.bookinstance.delete.box.confirmbutton}"
              th:data-deletebox-cancel-button="#{admin.bookinstance.delete.box.cancelbutton}"
              th:data-deletebox-success-title="#{admin.bookinstance.delete.success.infor.title}"
              th:data-deletebox-error-title="#{admin.bookinstance.delete.error.infor.title}">

        <div class="bookinstances-sub-table">
            <table class="table table-sm mb-0">
                <thead class="thead-light">
                    <tr>
                        <th class="col-sub-barcode"></th>
                        <th class="col-sub-callNumber"></th>
                        <th class="col-sub-status"></th>
                        <th class="col-sub-acquiredDate text-center"></th>
                        <th class="col-sub-acquiredPrice text-center"></th>
                        <th class="col-sub-actions text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Data rows will be inserted here by JavaScript -->
                </tbody>
            </table>
        </div>
    </template>

</body>
</html>
