.page-title-icon .mdi-book-open-page-variant {
    color: #343a40 !important;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table tbody tr td {
    padding-top: 1.1rem !important;
    padding-bottom: 1.1rem !important;
    line-height: 1.6;
    vertical-align: middle !important;

    white-space: normal;
    font-weight: normal;
}

.table thead tr th {
    padding-top: 0.875rem !important;
    padding-bottom: 0.875rem !important;
    font-weight: 500;
    color: #495057;
}

.table td small.text-muted {
    font-weight: 500 !important;
    color: #6c757d !important;
    font-size: 0.75rem !important;
}

.action-view {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: transparent !important;
    border: none !important;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.action-view .mdi {
    font-size: 1.2rem;
    margin-right: 4px;
}

.action-view:hover {
    background-color: #17a2b8 !important;
    color: #fff !important;
    text-decoration: none;
}

.table thead th:nth-child(1) { width: 7%; }
.table thead th:nth-child(2) { width: 20%; }
.table thead th:nth-child(3) { width: 20%; }
.table thead th:nth-child(4) { width: 20%; }
.table thead th:nth-child(5) { width: 20%; }
.table thead th:nth-child(6) { width: 13%; }

.action-edit, .action-delete {
    padding: 6px;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out;
}

.action-edit:hover {
    background-color: rgba(255, 193, 7, 0.15); /* Màu vàng nhạt */
}

.action-delete:hover {
    background-color: rgba(220, 53, 69, 0.1); /* Màu đỏ nhạt */
}

.icon-large {
    font-size: 1.25rem;
}
